<ion-content padding>
  <div class="change bg replay" *ngIf="whoIsWinner">
    <div class="color">Ju jeni fitues {{whoIsWinner}}</div>
    <a class="play" (click)="isPlay()">RePlay</a>

  </div>
  <ion-grid *ngIf="showBoard && !whoIsWinner && !play">
    <ion-row *ngFor="let chessRow of chessBoardObj; let r = index;">

      <ion-col
        [ngClass]="{'white-box':calcBoxColor(r,c),'black-box':calcBoxColor(r,c),'highlight-box': calcHL(r,c), 'goto-box': checkSteps(r,c)} "
        *ngFor="let chessCol of chessRow; let c = index;">
        <img src="{{getImageOnIndex(chessCol, r, c)}}"
          (click)="restrictMoment(chessCol,r,c) ? $event.stopPropagation() : selectPawn(chessCol, r, c)" alt="no-img"
          (error)="errorHandler($event, r ,c)">
      </ion-col>

    </ion-row>
  </ion-grid>
  <div *ngIf="play" class="bg">
    <div class="splash"></div>
    <div class="container">

      <div class="start-game game-full-flex" id="start-game">

        <div class="start-game-top"><a class="play-full-page"></a></div>



      </div>




      <div class="change">
        <a class="play" (click)="isPlay()">Play</a>

      </div>
      <!-- <div class="mounts">
                <div class="mount1"></div>
                <div class="mount2"></div>
            </div> -->


    </div>
  </div>
</ion-content>